<% if @billing.waiting_for_activation? %>
  <div class="card card-tab-content licenses with-month-number">
    <div class="card-header">
      <h2 class="card-header-title"><%= t('license.many') %></h2>
    </div>

    <div class="licenses-top-block">
      <div class="input_wrapper quantity">
        <label for="quantity"><%= t(:quantity) %></label>
        <%= number_field_tag :quantity, @billing.licenses_amount, in: 1...999999, max: 6,  onkeypress: 'return digitalValidation(value)', autocomplete: :off, data: data_hash_for_price %>
      </div>
      <span class="monthly-fee"><%= t(:monthly_fee) %>
        <span id="new_monthly_fee">$<%= monthly_fee %></span>
      </span>

      <div class="input_wrapper month-number-block">
        <label for="number_of_months"><%= t(:number_of_months) %></label>
        <%= number_field_tag :number_of_months, 1, in: 1...999999, max: 6,  onkeypress: 'return digitalValidation(value)', autocomplete: :off %>
      </div>
      <% if flash[:licenses_amount_error].present? %>
        <span class="error-message"><%= flash[:licenses_amount_error] %></span>
      <% end %>
    </div>
    <div class="licenses-bottom-block" id='increase_block' style='display:<%= 'none' unless @billing.trial_period? %>'>
      <div>
        <h3 class="block-subtitle"><%= t('license.total_amount') %>
          <span id="new_licenses_amount"><%= @billing.licenses_amount %></span>
        </h3>
        <span class="total-price" id="new_fee">$<%= monthly_fee %></span>
      </div>
      <div>
        <!-- block 1 -->
        <div class="input_wrapper promo-code-block">
          <input id='promocode_add' type="text" maxlength="8" placeholder="<%= t('promocode.enter') %>">
        </div>
        <div id='check_promocode_add' class="btn btn-green show_loader"><%= t('promocode.apply') %></div>
        <span class="total-price" id="price_with_promocode_add">$<%= monthly_fee %></span>
        <% unless @pending_payments_exist %>
          <div id="paypal-button-container-add" data-licenses-amount='<%= @billing.licenses_amount %>'></div>
        <% end %>
      </div>
      <div id='message_promocode_add'></div>
      <% if @pending_payments_exist %>
        <span class="message"><% t('payment.waiting') %></span>
      <% end %>
    </div>

    <% unless @billing.trial_period? %>
      <div class="licenses-bottom-block " id='decrease_block' style='display:none'>
        <div>
          <h3 class="block-subtitle"><%= t(:reduce_licenses) %>
            <span id="licenses_amount"><%= @billing.licenses_amount %></span>
          </h3>
        </div>
        <div>
          <div class="btn btn-green show_loader" id="reduce_licenses" data-licenses-amount='<%= @billing.licenses_amount %>'><%= t(:save) %></div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="card card-tab-content licenses">
    <div class="card-header">
      <h2 class="card-header-title"><%= t('license.many') %></h2>
    </div>

    <div class="licenses-top-block">
      <div class="input_wrapper">
        <label for="quantity"><%= t(:quantity) %></label>
        <%= number_field_tag :quantity, @billing.licenses_amount, in: 1...999999, max: 6,  onkeypress: 'return digitalValidation(value)', autocomplete: :off, data: data_hash_for_price %>
      </div>
      <% if flash[:licenses_amount_error].present? %>
        <span class="error-message"><%= flash[:licenses_amount_error] %></span>
      <% end %>
    </div>
    <div class="licenses-bottom-block" id='increase_block' style='display:<%= 'none' unless @billing.trial_period? %>'>
      <div>
        <h3 class="block-subtitle"><%= t('license.additional_amount') %>
          <span id="new_licenses_amount"><%= @billing.licenses_amount %></span>
        </h3>
        <span class="total-price" id="new_fee">$<%= monthly_fee %></span>
      </div>
      <div>
        <!-- block 1 -->
        <div class="input_wrapper promo-code-block">
          <input id='promocode_add' type="text" maxlength="8" placeholder="Enter promo code">
        </div>
        <div id='check_promocode_add' class="btn btn-green show_loader"><%= t('promocode.apply') %></div>
        <span class="total-price" id="price_with_promocode_add">$<%= monthly_fee %></span>
        <% unless @pending_payments_exist %>
          <div id="paypal-button-container-add" data-licenses-amount='<%= @billing.licenses_amount %>'></div>
        <% end %>
      </div>
      <div id='message_promocode_add'></div>
      <% if @pending_payments_exist %>
        <span class="message"><%= t('payment.waiting') %></span>
      <% end %>
    </div>

    <% unless @billing.trial_period? %>
      <div class="licenses-bottom-block " id='decrease_block' style='display:none'>
        <div>
          <h3 class="block-subtitle"><%= t(:reduce_licenses) %>
            <span id="licenses_amount"><%= @billing.licenses_amount %></span>
          </h3>
        </div>
        <div>
          <div class="btn btn-green show_loader" id="reduce_licenses" data-licenses-amount='<%= @billing.licenses_amount %>'><%= t(:save) %></div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
