<div class="wrapper">
<center class="wrapper"> 
  <div style="max-width: 580px;margin: 0 auto; padding: 0 10px;">
    <table style="color:#484848;width: 100%;margin: 0 auto;font-size:0;">
      <tbody>
        <tr>
          <td style="padding:48px 0 32px;">
            <a target="_blank" href="https://geteasyqa.com" title="EasyQA" style="display:inline-block;font-size: 20px;line-height: 20px; text-decoration: none; color: #32b789;font-weight: 600;">
              <span style="padding-right: 6px">
                <img src="https://app.geteasyqa.com/images/logo_main_dark.png" width="30" height="30">
              </span>
              <span style="vertical-align: super;">EasyQA</span>
            </a>
          </td>
        </tr>
				<tr>
					<td style="padding-bottom:20px;font-weight: 700;line-height: 1.3;font-size: 32px;">
						<%= "#{t('dear')}, #{@payer.name}." %>
					</td>
				</tr>
				<tr><td style="font-weight: 300;line-height: 1.4;font-size: 18px;padding-bottom: 20px;">
					<%= I18n.t('we_have_prepared_an_electronic_tax_invoice_for_your_last_purchase') %>
				</td></tr>	
				<tr><td style="font-weight: 300;line-height: 1.4;font-size: 18px;padding-bottom: 20px;">
					<%= I18n.t('download_the_tax_invoice_in_pdf_format') %>
				</td></tr>
				<tr><td style="font-weight: 300;line-height: 1.4;font-size: 18px;padding-bottom: 20px;">
					<%= I18n.t('tax_invoice_id') %> <%= @payment.id %>
				</td></tr>
				<tr><td style="font-weight: 300;line-height: 1.4;font-size: 18px;padding-bottom: 20px;">
					<%= I18n.t('date_of_tax_invoice_creation') %> <%= @payment.updated_at.strftime('%d %B %Y') %>
				</td></tr>
				<tr><td style="font-weight: 300;line-height: 1.4;font-size: 18px;padding-bottom: 20px;">
					<%= I18n.t('to_view_the_transaction_log_just_log_into_the_easyqa_account_and_open_the') %> <%= link_to 'Payment History', payments_url, 
																																																																		style: 'display: inline-block;
																																																																		line-height: 1;
																																																																		padding: 10px 20px;
																																																																		background-color: #32b789;
																																																																		color: #fff;
																																																																		font-size: 18px;
																																																																		border-radius: 5px;
																																																																		text-decoration: none;',
																																																																		target: "_blank" %> 
				<%= I18n.t('section_on_my_profile_page') %>
				</td></tr>
				<tr><td style="font-weight: 300;line-height: 1.4;font-size: 18px;padding-bottom: 20px;">
					<%= I18n.t('thank_you') %>
				</td></tr>
				<tr><td style="font-weight: 300;line-height: 1.4;font-size: 18px;padding-bottom: 20px;"> 
				<%= I18n.t('yours') %>, <br/> EasyQA <br/>
				</td></tr>
				<tr><td style="padding: 20px 0"><hr style="background-color: rgb(219, 219, 219);height: 1px;border: none;width: 100%;"></td></tr>
				<tr>
					<td style="padding: 20px 0">
  					<% if I18n.locale.to_s == 'en' %>
  					  <a style="display: inline-block; line-height: 1; padding: 10px 20px; color: #32b789;
  					      border: 1px solid #32b789; font-size: 18px; border-radius: 5px;
  					      text-decoration: none;"
  					      href="https://geteasyqa.com/how-to/what-is-easyqa" target="_blank"> <%= I18n.t('learn_more_how_to_use_easyqa') %> </a>
  					<% else %>
  					  <a style="display: inline-block; line-height: 1; padding: 10px 20px; color: #32b789;
  					            border: 1px solid #32b789; font-size: 18px; border-radius: 5px;
  					            text-decoration: none;"
  					            href="https://geteasyqa.com/ru/how-to/easyqa-what-is/" target="_blank"> <%= I18n.t('learn_more_how_to_use_easyqa') %> </a>
  					<% end %>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</center>
</div>
