<p class="main-step"><%= t('chrome_extention_instructions_details.detail1').html_safe %> <a href="https://chrome.google.com/webstore/detail/easyqa/glmfjffdieenfmamnaildlpajekgpohi?authuser=3"><%= t('chrome_extention_instructions_details.detail2').html_safe %></a> <%= t('chrome_extention_instructions_details.detail3').html_safe %></p>
<%= image_tag('chrome-instruction-1.png', class: 'chrome-instruction-image chrome-instruction-image-w') %>
<p class="main-step"><%= t('chrome_extention_instructions_details.detail4').html_safe %></p>
<p class="main-step"><%= t('chrome_extention_instructions_details.detail5').html_safe %></p>
<%= image_tag('chrome-instruction-2.png', class: 'chrome-instruction-image chrome-instruction-image-h') %>
<p class="main-step"><%= t('chrome_extention_instructions_details.detail6').html_safe %> <a href="https://app.geteasyqa.com">https://app.geteasyqa.com</a> <%= t('chrome_extention_instructions_details.detail7').html_safe %></p>
<%= image_tag('chrome-instruction-3.png', class: 'chrome-instruction-image chrome-instruction-image-h') %>
<p class="main-step"><%= t('chrome_extention_instructions_details.detail8').html_safe %></p>
<%= image_tag('chrome-instruction-4.png', class: 'chrome-instruction-image chrome-instruction-image-h') %>
<p class="main-step"><%= t('chrome_extention_instructions_details.detail9').html_safe %></p>
<%= image_tag('chrome-instruction-5.png', class: 'chrome-instruction-image chrome-instruction-image-wh') %>
<p class="main-step"><%= t('chrome_extention_instructions_details.detail10').html_safe %></p>
<%= image_tag('chrome-instruction-6.png', class: 'chrome-instruction-image chrome-instruction-image-h') %>
