<p class="main-step">
  <a href="https://github.com/thinkmobiles/log_error_handler">log_error_handler</a> - <%= t('log_error_handler_instructions_details.detail1').html_safe %><br>
  <%= image_tag('sever-instructions-1.png') %>
</p>
<p class="main-step"><%= t('log_error_handler_instructions_details.detail2') %>:</p>
<ol class="log_error_handler_instructions_list">
  <li>
    <%= t('log_error_handler_instructions_details.detail3')%>:
    <%= image_tag('sever-instructions-2.png') %><br>
    <%= t('log_error_handler_instructions_details.detail4')%>
  </li>
  <li>
    <%= t('log_error_handler_instructions_details.detail5')%>:
    <%= image_tag('sever-instructions-3.png') %><br>
    <%= t('log_error_handler_instructions_details.detail6')%>
  </li>
</ol>
<br>
<p class="main-step">
  <%= t('log_error_handler_instructions_details.detail7') %>:<br>
  <%= image_tag('sever-instructions-4.png') %>
</p>
<p class="main-step">
  <%= t('log_error_handler_instructions_details.detail8') %>:<br>
  <%= image_tag('sever-instructions-5.png') %>
</p>
<p class="main-step">
  <%= t('log_error_handler_instructions_details.detail9').html_safe %>:<br>
  <%= image_tag('sever-instructions-6.png') %>
</p>
<p class="main-step">
  <%= t('log_error_handler_instructions_details.detail10') %>:<br>
  <%= image_tag('sever-instructions-7.png') %><br>
  <%= t('log_error_handler_instructions_details.detail11') %>
</p>
<p class="main-step">
  <%= t('log_error_handler_instructions_details.detail12') %>:<br>
  <%= image_tag('sever-instructions-8.png') %>
</p>
<p class="main-step">
  <%= t('log_error_handler_instructions_details.detail13') %>:<br>
  <%= image_tag('sever-instructions-9.png') %>
</p>
<p class="main-step">
  <%= t('log_error_handler_instructions_details.detail14') %>:<br>
  <%= image_tag('sever-instructions-10.png') %><br>
  <%= t('log_error_handler_instructions_details.detail15') %>
</p>
<p class="main-step"><%= t('log_error_handler_instructions_details.detail16').html_safe %></p>
<p class="main-step"><%= t('log_error_handler_instructions_details.detail17').html_safe %></p>
<p class="main-step"><%= t('log_error_handler_instructions_details.detail18').html_safe %></p>
<p class="main-step"><%= t('log_error_handler_instructions_details.detail19') %>:</p>
<ol class="log_error_handler_instructions_list">
  <li>
    <%= t('log_error_handler_instructions_details.detail20')%>
  </li>
  <li>
    <%= t('log_error_handler_instructions_details.detail21')%>:<br>
    <%= image_tag('sever-instructions-11.png') %><br>
    <%= t('log_error_handler_instructions_details.detail22')%>:<br>
    <%= image_tag('sever-instructions-12.png') %>
  </li>
  <li>
    <p>
      <%= t('log_error_handler_instructions_details.detail23')%>:<br>
      <%= image_tag('sever-instructions-13.png') %><br>
      <%= t('log_error_handler_instructions_details.detail24')%>:<br>
      <%= image_tag('sever-instructions-14.png') %><br>
    </p>
    <p>
      <%= t('log_error_handler_instructions_details.detail25')%>:<br>
      <%= image_tag('sever-instructions-15.png') %><br>
      <%= t('log_error_handler_instructions_details.detail26')%>:<br>
      <%= image_tag('sever-instructions-16.png') %><br>
    </p>
    <p>
      <%= t('log_error_handler_instructions_details.detail27')%>:<br>
      <%= image_tag('sever-instructions-17.png') %><br>
      <%= t('log_error_handler_instructions_details.detail28')%>:<br>
      <%= image_tag('sever-instructions-18.png') %><br>
    </p>
    <p>
      <%= t('log_error_handler_instructions_details.detail29')%>:<br>
      <%= image_tag('sever-instructions-19.png') %><br>
      <%= t('log_error_handler_instructions_details.detail30')%>:<br>
      <%= image_tag('sever-instructions-20.png') %><br>
      <%= t('log_error_handler_instructions_details.detail31')%>:<br>
      <%= image_tag('sever-instructions-21.png') %>
    </p>
  </li>
</ol>
<p class="main-step"><%= t('log_error_handler_instructions_details.detail32').html_safe %></p>
