<h2 class="card-heading">Billings info</h2>
<%= form_for @client, url: set_client_standalone_payments_path, method: :put, remote: true, validate: true do |f| %>
  <div class="form-inner billings-info">
    <div class="left-side">
      <div class="input_wrapper">
        <%= f.label :first_name, class: 'star' %>
        <%= f.text_field :first_name, placeholder: t('enter_your_first_name'), validate: true %>
      </div>
      <div class="input_wrapper">
        <%= f.label :last_name, class: 'star' %>
        <%= f.text_field :last_name, placeholder: t('enter_your_last_name'), validate: true %>
      </div>
      <div class="input_wrapper">
        <%= f.label :email, for: 'registration_user_email', class: 'star' %>
        <%= f.email_field :email, placeholder: t('enter_your_email'), id: 'registration_user_email', validate: true %>
      </div>
      <div class="input_wrapper drop-arr">
        <%= f.label :country %>
        <%= f.country_select :country, { except: EasyQA::Constants::Countries::EXCEPT }, {autocomplete: 'off'}, { id: 'countryMyProfile' } %>
      </div>
      <div class="input_wrapper">
        <%= f.label :phone_number %>
        <%= f.telephone_field :phone_number, validate: true %>
      </div>
    </div>

    <div class="right-side">
      <div class="input_wrapper">
        <%= f.label :company %>
        <%= f.text_field :company, autofocus: true, validate: true %>
      </div>
      <div class="input_wrapper">
        <%= f.label :street_address %>
        <%= f.text_field :street_address, validate: true %>
      </div>
      <div class="input_wrapper">
        <%= f.label :city %>
        <%= f.text_field :city, validate: true %>
      </div>
      <div class="input_wrapper">
        <%= f.label :state %>
        <%= f.text_field :state, validate: true %>
      </div>
      <div class="input_wrapper zip-code">
        <%= f.label :zip_code %>
        <%= f.text_field :zip_code, validate: true %>
      </div>
    </div>
  </div>
    <div class="btn-group">
      <%= f.submit t(:proceed), class: 'btn btn-green' %>
    </div>
<% end %>
