<!-- Modal content -->
<div class="modal-dialog modal-select-cases modal-select-cases-show modal-copy-cases">
  <div class="modal-content">
    <div class="title-main">
      <h3><%= t('select_cases') %></h3>
      <span class="close">
        <span class='icon-close-icon'></span>
      </span>
    </div>

    <div class="modal-body">
      <div class="modal-select-cases-header">
        <div class="plans">
          <h3 class="title"><%= t('test_plans') %></h3>
        </div>
        <div class="select">
          <h3 class="title"> <%= t('select') %>:</h3>
          <a href="javascript:;" class="select-item checked-all-modules"><%= t('all') %></a>
          <a href="javascript:;" class="select-item unchecked-all-modules"><%= t('none') %></a>
        </div>
      </div>
      <div class="modal-select-cases-info">
        <div class="plans">
          <div class="plans-info cases-info-modal">
            <% @test_plans.each do |test_plan|%>
              <div class="plans-info-item" >
                <div class="plans-info-item-inner copy_cases_test_plan_cart" data-plan-id="<%= test_plan.id %>" id='plan-id-<%= test_plan.id %>' >
                  <div class="plans-item-inner-left grow">
                    <h3 class="title"><%= test_plan.title %></h3>
                    <div class="author"><%= test_plan.owner.name %></div>
                    <time datetime="2016-05-03" class="date"><%= test_plan.created_at.strftime('%Y-%m-%d') %></time>
                  </div>
                </div>
              </div>  <!-- plans info item  close-->
            <% end %>
          </div>      <!-- plans-->
        </div>
        <% @test_plans.each do |test_plan|%>
          <div style='display: none;' class='modules-and-cases modules-for-plan-<%= test_plan.id %>'>
            <div class="contains contains-info">
              <div id="jstree_demo_div_popUp_<%= test_plan.id %>" class="copy-cases-info-modal">
                <%= render partial: 'test_runs/test_modules_item', collection: test_plan.test_modules, as: :test_module %>
              </div><!-- folderTree-->
            </div>
          </div>
          <script>jstree_test_run_init('<%= test_plan.id %>');</script>
        <% end %>
      </div> <!-- tab-pane-content-info-->
      <div class="btn-group">
          <button type="button" class="btn btn-green copy_cases_to_module"><%= t('ok') %></button>
          <button type="button" class="btn btn-white-green cancel"><%= t('cancel') %></button>
      </div>
    </div> <!--modal-body-->
  </div>
</div>

<script>
  $(document).ready(function() {
    bind_custom_scrollbar();
  });
</script>
