<header id='head_menu' class="main-header <%= notification_class %>">
  <% if current_user.payment_notification_visible? %>
    <%= render 'layouts/payment_notification' %>
  <% end %>
  <div class="logo_title <%= header_class(no_project)%>">
    <%= link_to root_path do %>
      <%= image_tag image(no_project) %>
      <span>EasyQA</span>
    <% end %>
  </div>
  <ul class="main_tabs">
    <%= content_tag(:li, class: ("#{'active' if @active}")) do %>
      <%= link_to t('users.my_organizations'), organizations_path %>
    <% end %>
    <%= content_tag(:li, class: ('active' if content_for(:my_projects))) do %>
      <%= link_to t('users.my_projects'), projects_path %>
    <% end %>
  </ul>
  <div class="create_block">
    <% unless current_user.is_payment_expired %>
      <%= link_to t('add_organization'), new_organization_path, remote: true, class: 'btn btn-green' %>
    <% end %>
    <%= link_to t('add_project'), new_project_path, remote: true, class: 'btn btn-green' %>

    <%= link_to report_bug_path, remote: true, class: 'btn btn-ghost-red' do %>
      <%= t('report.bug') %>
      <span class="hover-block"><%= t('report.found') %></span>
    <% end %>
    <%= link_to('Raise Error', raise_error_path, class: 'btn btn-red') if Rails.env.staging? || Rails.env.development?  %>
  </div>

  <div class="profile_block">
    <%= image_tag current_user.avatar.file.url(:medium), class: 'avatar' %>
    <%= link_to t('users.profile'), edit_user_path, class: 'profile_name' %>
    <%= link_to destroy_user_session_path, title: t(:logout), class: 'log_out', method: :delete do %>
      <span class='icon-log-out'></span>
    <% end %>
  </div>
</header>
