<% content_for :application do %>
  <div class="container-full">
    <div class="row">
      <div class="main-content <%= notification_class %> col m-12">
        <%= render 'users/card_user_info' %>
        <div class="container-full">
          <div class="row">
            <div class="col m-3" id='left-menu'>
              <% @left_menu_links = users_left_menu %>
              <%= render 'users/left_menu' %>
            </div>
            <div class="col m-9">
              <div class="card-wrapper">
                <div class="load-block">
                  <div class="loader-wrap">
                    <div class="loader"></div>
                  </div>
                </div>
                <div id='content'>
                  <%= content_for?(:users_profile) ? yield(:users_profile) : yield %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/application' %>
